@using EpiServerProject.Models.ViewModels;
@using EpiServerProject.Models.Pages;
@model PageViewModel<ContentPage>
<style type="text/css">
.container.quality-control{
    margin-top:20px;
    color:#ffffff;
 }


.btn-primary {
    margin-top:30px;
    border: 0 none;
    border-radius:0;
    text-align: center;
    font-size:22px;
    font-weight: 400;
    font-family: open-sans, sans-serif;
    text-transform: uppercase;

    background: -webkit-gradient(linear, center top, center bottom, from(#1CB2D5),color-stop(100%, #225068));
    background: -webkit-linear-gradient(top,#1CB2D5 ,#225068 100%);
    background: -moz-linear-gradient(top,#1CB2D5 ,#225068 100%);
    background: -ms-linear-gradient(top,#1CB2D5 ,#225068 100%);
    background: -o-linear-gradient(top,#1CB2D5 ,#225068 100%);
    background: linear-gradient(to bottom,#1CB2D5 ,#225068 100%);
    color: #E1E4E7;
}

    .btn-primary:hover {
    margin-top:10px;
    margin-bottom:10px;
    border: 0 none;
    border-radius:0;
    text-align: center;
    font-size:22px;
    font-weight: 400;
    font-family: open-sans, sans-serif;
    text-transform: uppercase;

    background: -webkit-gradient(linear, center top, center bottom, from(#1CB2D5),color-stop(100%, #225068));
    background: -webkit-linear-gradient(top,#1CB2D5 ,#225068 100%);
    background: -moz-linear-gradient(top,#1CB2D5 ,#225068 100%);
    background: -ms-linear-gradient(top,#1CB2D5 ,#225068 100%);
    background: -o-linear-gradient(top,#1CB2D5 ,#225068 100%);
    background: linear-gradient(to bottom,#1CB2D5 ,#225068 100%);
    color: #E1E4E7;
}

.btn-info {
    margin-top:20px;
    margin-bottom:10px;
    border: 0 none;
    border-radius:0;
    font-size:16px;
    font-weight: 400;
    font-family: open-sans, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;


    background: #531D30 url("../images/u11243-grad.png") repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#E03F4E),color-stop(100%, #531D30));
    background: -webkit-linear-gradient(top,#E03F4E ,#531D30 100%);
    background: -moz-linear-gradient(top,#E03F4E ,#531D30 100%);
    background: -ms-linear-gradient(top,#E03F4E ,#531D30 100%);
    background: -o-linear-gradient(top,#E03F4E ,#531D30 100%);
    background: linear-gradient(to bottom,#E03F4E ,#531D30 100%);
    color: #E1E4E7;
}
.btn-info:hover {
        margin-top:20px;
    margin-bottom:10px;
    border: 0 none;
    border-radius:0;
    font-size:16px;
    font-weight: 400;
    font-family: open-sans, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;


    background: #531D30 url("../images/u11243-grad.png") repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#E03F4E),color-stop(100%, #531D30));
    background: -webkit-linear-gradient(top,#E03F4E ,#531D30 100%);
    background: -moz-linear-gradient(top,#E03F4E ,#531D30 100%);
    background: -ms-linear-gradient(top,#E03F4E ,#531D30 100%);
    background: -o-linear-gradient(top,#E03F4E ,#531D30 100%);
    background: linear-gradient(to bottom,#E03F4E ,#531D30 100%);
    color: #E1E4E7;
    }

    .container > .row > .quality-rules {
        color: #ffffff;
    }
      .main-background{
      width: 100%; 
      height:800px; 
      background-position: 50% 50%;
      display: block;
      background-attachment: fixed;
    }


.quality-rules{
   font-weight:bold;
   background-color: rgba(7, 14, 17, 0.9);

}
    .quality-rules p{
        padding:5px 10px;
    }

</style>

<div class="main-background" style="background-image:url('@Url.ContentUrl(Model.CurrentPage.BackgroundImage)')">
    <div class="container quality-control">
        <div class="row quality-block">
            <div class="col-md-6 col-md-offset-5">
                <button type="button" class="btn btn-primary">@Html.PropertyFor(m => m.CurrentPage.Title)</button>
                <div class="quality-rules">@Html.PropertyFor(m => m.CurrentPage.Text)</div>
                <a href="@Url.ContentUrl(@Model.CurrentPage.Document)" class="btn btn-info">@Model.CurrentPage.LinkText</a>
            </div>
        </div>
    </div>
</div>